.card-cnt {
  display: flex;
  background-color: bisque;
  width: 60%;
  height: 70%;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: space-around;
}

.card-first-cnt {
  position: absolute;
}

.card-img-cnt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid blue;
  width: 900px;
}

.img {
  height: 400px;
}

.img-cnt {
  display: flex;
}
