@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Caprasimo&family=Epilogue&family=Inter&family=Montserrat+Alternates:wght@200&family=Oooh+Baby&family=Playfair+Display&display=swap');

.card-cnt {
  display: flex;
  background-color: whitesmoke;
  height: 80%;
  width: 70%;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: space-around;
  background-image: url('../../assests/img/pattern-quotes.svg');
  background-repeat: no-repeat;
  background-position: 140px 170px;
  padding-left: 21%;
}

.card-first-cnt {
  position: absolute;
  width: 60%;
  right: 30%;
}

.card-img-cnt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 900px;
  background-image: url('../../assests/img/pattern-bg.svg');
  background-repeat: no-repeat;
  background-position: 80px 90px;
}

.card-txt {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
}

.card-sub-cnt {
  display: flex;
  gap: 15px;
}

.card-txt-cnt {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.img {
  height: 450px;
}

.img-cnt {
  display: flex;
}

.card-btn-cnt {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 50px;
  right: 275px;
  width: 100px;
  height: 50px;
  border-radius: 70px;
  background-color: rgb(248, 237, 237);
}

.card-btn {
  display: flex;
  border: none;
  background-color: transparent;
  font-size: 35px;
  color: rgb(75, 70, 70);
}

.card-name {
  color: hsl(240, 38%, 20%);
  font-weight: 700;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

.card-profession {
  color: hsl(240, 38%, 20%);
  font-weight: 500;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}
